body {
    margin: 0;
    padding: 10px 20% 10px 10%;
}

.main-module {
    background: #ffffff;
    height: 226.39px;
    width: 240.39px;
    border: 2px #e0e0eb solid;
    margin: 10px 0 -12px 0;
    padding: 15px;
}

.site-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 15px;
    width: 240.39px;
}

.field {
    color: #66757f;
}

.field1 {
    font-size: 14px;
    margin-right: 5px;
}

.field2 {
    font-size: 12px;
    margin-right: 5px;
}

.field3 {
    font-size: 12px;
}

.main-field-content {

}

.recommendation {
    position: relative;
    padding: 5px;
    height: 60px;
}

.photo-of-user {
    position: absolute;
    width: 40px;
    height: 40px;
    background: indianred;
    display: inline-block;
}

.field-of-user {
    margin-left: 45px;
    margin-top: -2px;
}

.name-of-user {
    padding: 1px;
    display: inline-block;
    font-size: 13px;
    color: black;
}

.link-to-user {
    padding: 1px;
    display: inline-block;
    font-size: 13px;
    color: black;
}

.button {
    padding-right: 7px;
    display: inline-block;
    width: 6em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid rgba(0, 0, 0, .4);
    border-top-color: rgba(0, 0, 0, .3);
    border-radius: 2px;
    background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
    0 1px 1px 1px rgba(255, 255, 255, .2),
    0 -1px 1px 1px rgba(0, 0, 0, 0);
    transition: .2s ease-in-out;
}

a.button:hover:not(:active) {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
    0 1px 1px 1px rgba(0, 255, 255, .5),
    0 -1px 1px 1px rgba(0, 255, 255, .5);
}

a.button:active {
    background: linear-gradient(rgb(250, 250, 250), rgb(235, 235, 235));
    box-shadow: 0 0 3px rgba(0, 0, 0, .5) inset,
    0 1px 1px 1px rgba(255, 255, 255, .4),
    0 -1px 1px 1px rgba(0, 0, 0, .1);

}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    color: #66757f;
}

.add-user-icon {
    color: #4d79ff;
}

.find-friends-module {
    display: flex;
    align-items: center;
    background: #F2F2F2;
    height: 25.39px;
    width: 240.39px;
    border: 2px #e0e0eb solid;
    padding: 15px;

}

.find-friends-icon {
    color: #4d79ff;
}